#avatar {
    border-radius: 25px;
}

#logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.navbar {
    height: 10%;
    min-height: 75px;
    padding: 0.5em 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    background-color: #3a3a3f;
}

.nav-link {
    font-size: 20px;
    color: lightpink;
    border: none;
}

.nav-link:hover {
    color: palevioletred;
}

.nav-link:focus {
    color: palevioletred;
}

.navbar-dark a:hover {
    color: palevioletred;
    text-decoration: none;
}

.dropdown {
    margin-right: 2em;
}

.dropdown-menu {
    width: 300px;
    margin-top: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}