USE [master]
GO
/****** Object:  Database [Build-A-Band]    Script Date: 10/06/2022 12:59:22 AM ******/
CREATE DATABASE [Build-A-Band]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Build-A-Band', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Build-A-Band.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Build-A-Band_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Build-A-Band_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Build-A-Band].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Build-A-Band]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/06/2022 12:59:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[is_Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audio]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audio](
	[AudioID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[FileName] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
 CONSTRAINT [PK_AudioID] PRIMARY KEY CLUSTERED 
(
	[AudioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[Content] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CommentID] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[SenderID] [int] NOT NULL,
	[RecipientID] [int] NOT NULL,
	[Subject] [varchar](100) NOT NULL,
	[Body] [varchar](500) NOT NULL,
 CONSTRAINT [PK_MessageID] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musician]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musician](
	[MusicianID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
	[AccountID] [int] NOT NULL,
	[StateCode] [char](2) NOT NULL,
	[AvaterFilename] [varchar](200) NULL,
 CONSTRAINT [PK_MusicianID] PRIMARY KEY CLUSTERED 
(
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[Content] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PostID] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_ProjectID] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project_Workon]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Workon](
	[ProjectID] [int] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[JoinedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProjectID_MusicianID] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC,
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 10/06/2022 12:59:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active]) VALUES (1, N'dnacy', N'test1234', 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active]) VALUES (2, N'fandrew', N'test1234', 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active]) VALUES (3, N'ljanet', N'test1234', 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [MusicianID], [PostID], [Content]) VALUES (1, CAST(N'2022-05-20T00:05:00.000' AS DateTime), 3, 1, N'Thank you')
INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [MusicianID], [PostID], [Content]) VALUES (2, CAST(N'2022-05-20T00:05:00.000' AS DateTime), 4, 1, N'Glad to be on this platform')
INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [MusicianID], [PostID], [Content]) VALUES (3, CAST(N'2022-05-20T00:05:00.000' AS DateTime), 4, 2, N'Wow! never did listen to it')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageID], [CreatedTime], [SenderID], [RecipientID], [Subject], [Body]) VALUES (1, CAST(N'2022-04-20T00:00:00.000' AS DateTime), 1, 2, N'Happy bday', N'Happy bday Andrew')
INSERT [dbo].[Message] ([MessageID], [CreatedTime], [SenderID], [RecipientID], [Subject], [Body]) VALUES (2, CAST(N'2022-04-21T00:00:00.000' AS DateTime), 3, 2, N'Invitation Request', N'Would like to join my music project: Sweet Taboo')
INSERT [dbo].[Message] ([MessageID], [CreatedTime], [SenderID], [RecipientID], [Subject], [Body]) VALUES (3, CAST(N'2022-04-23T00:00:00.000' AS DateTime), 4, 1, N'Invitation Request', N'Would like to join my music project: Message In A Bottle')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Musician] ON 

INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [ZipCode], [AccountID], [StateCode], [AvaterFilename]) VALUES (1, N'Davolio', N'Nancy', CAST(N'1968-12-08' AS Date), N'206-555-9857', N'Female', N'507 - 20th Ave.', NULL, N'Seattle', N'98122', 1, N'WA', NULL)
INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [ZipCode], [AccountID], [StateCode], [AvaterFilename]) VALUES (2, N'Fuller', N'Andrew', CAST(N'1952-02-19' AS Date), N'206-555-9482', N'Male', N'908 W. Capital Way', N'by Zip way', N'Tacoma', N'98401', 2, N'WA', NULL)
INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [ZipCode], [AccountID], [StateCode], [AvaterFilename]) VALUES (3, N'Leverling', N'Janet', CAST(N'1963-08-30' AS Date), N'206-555-3412', N'Female', N'722 Moss Bay Blvd.', NULL, N'Kirkland', N'98033', 3, N'WA', NULL)
SET IDENTITY_INSERT [dbo].[Musician] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostID], [CreatedTime], [MusicianID], [Content]) VALUES (1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, N'Welcome everyone to Build-a-band')
INSERT [dbo].[Post] ([PostID], [CreatedTime], [MusicianID], [Content]) VALUES (2, CAST(N'2022-05-21T00:00:00.000' AS DateTime), 2, N'I think FAR OUT album by police  is a need to listen to')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (1, N'Rolling Stone', 2, CAST(N'2022-02-08T00:00:00.000' AS DateTime), CAST(N'2022-04-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (2, N'Coming Up', 1, CAST(N'2022-04-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (3, N'Code A little', 1, CAST(N'2022-01-08T00:00:00.000' AS DateTime), CAST(N'2022-06-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (1, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (1, 2, CAST(N'2022-02-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (2, 1, CAST(N'2022-04-18T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Accounts_Username]    Script Date: 10/06/2022 12:59:23 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UK_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audio]  WITH CHECK ADD  CONSTRAINT [FK_Audio_Musician] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Audio] CHECK CONSTRAINT [FK_Audio_Musician]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Musician]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Musician_RecipientID] FOREIGN KEY([RecipientID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Musician_RecipientID]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Musician_SenderID] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Musician_SenderID]
GO
ALTER TABLE [dbo].[Musician]  WITH CHECK ADD  CONSTRAINT [FK_Musician_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Musician] CHECK CONSTRAINT [FK_Musician_Accounts]
GO
ALTER TABLE [dbo].[Musician]  WITH CHECK ADD  CONSTRAINT [FK_Musician_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Musician] CHECK CONSTRAINT [FK_Musician_States]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Musician]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Musician] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Musician]
GO
ALTER TABLE [dbo].[Project_Workon]  WITH CHECK ADD  CONSTRAINT [FK_Project_Workon_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Project_Workon] CHECK CONSTRAINT [FK_Project_Workon_Musician]
GO
ALTER TABLE [dbo].[Project_Workon]  WITH CHECK ADD  CONSTRAINT [FK_Project_Workon_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[Project_Workon] CHECK CONSTRAINT [FK_Project_Workon_Project]
GO
USE [master]
GO
