USE [master]
GO
/****** Object:  Database [BuildABand]    Script Date: 30/06/2022 1:06:17 AM ******/
CREATE DATABASE [BuildABand]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuildABand', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuildABand.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuildABand_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuildABand_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuildABand].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuildABand]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[is_Active] [tinyint] NOT NULL,
	[is_Admin] [tinyint] NOT NULL,
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audio]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audio](
	[AudioID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[FileName] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
 CONSTRAINT [PK_AudioID] PRIMARY KEY CLUSTERED 
(
	[AudioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[ParentID] [int] NULL,
	[MusicianID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[Content] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CommentID] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentLike]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentLike](
	[CommentLikeID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CommentLike] PRIMARY KEY CLUSTERED 
(
	[CommentLikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connection]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connection](
	[ConnectionID] [int] IDENTITY(1,1) NOT NULL,
	[InitiatorID] [int] NOT NULL,
	[FollowerID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[Connected] [tinyint] NOT NULL,
 CONSTRAINT [PK_ConnectionID] PRIMARY KEY CLUSTERED 
(
	[ConnectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ConversationID] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationMembers]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMembers](
	[ConversationMembersID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ConversationMembersID] PRIMARY KEY CLUSTERED 
(
	[ConversationMembersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[SenderID] [int] NOT NULL,
	[Text] [varchar](500) NOT NULL,
 CONSTRAINT [PK_MessageID] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musician]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musician](
	[MusicianID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Instrument] [varchar](500) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[StateCode] [char](2) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
	[AccountID] [int] NOT NULL,
	[AvaterFilename] [varchar](200) NULL,
 CONSTRAINT [PK_MusicianID] PRIMARY KEY CLUSTERED 
(
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[Content] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PostID] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostLike]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostLike](
	[PostLikeID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_PostLike] PRIMARY KEY CLUSTERED 
(
	[PostLikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_ProjectID] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project_Workon]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Workon](
	[ProjectID] [int] NOT NULL,
	[MusicianID] [int] NOT NULL,
	[JoinedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProjectID_MusicianID] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC,
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active], [is_Admin]) VALUES (1, N'dnancy', N'g0pwm6JTTr4+4Tl/1Pe9KIsqzB0goI1shi3NmbbwRAA=', 1, 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active], [is_Admin]) VALUES (2, N'fandrew', N'g0pwm6JTTr4+4Tl/1Pe9KIsqzB0goI1shi3NmbbwRAA=', 1, 0)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password], [is_Active], [is_Admin]) VALUES (3, N'ljanet', N'g0pwm6JTTr4+4Tl/1Pe9KIsqzB0goI1shi3NmbbwRAA=', 1, 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [ParentID], [MusicianID], [PostID], [Content]) VALUES (1, CAST(N'2022-05-20T00:05:00.000' AS DateTime), NULL, 3, 1, N'Thank you')
INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [ParentID], [MusicianID], [PostID], [Content]) VALUES (2, CAST(N'2022-05-20T00:05:00.000' AS DateTime), NULL, 4, 1, N'Glad to be on this platform')
INSERT [dbo].[Comment] ([CommentID], [CreatedTime], [ParentID], [MusicianID], [PostID], [Content]) VALUES (3, CAST(N'2022-05-20T00:05:00.000' AS DateTime), NULL, 4, 2, N'Wow! never did listen to it')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentLike] ON 

INSERT [dbo].[CommentLike] ([CommentLikeID], [CommentID], [MusicianID], [CreatedTime]) VALUES (1, 1, 1, CAST(N'2022-06-20T17:29:13.507' AS DateTime))
INSERT [dbo].[CommentLike] ([CommentLikeID], [CommentID], [MusicianID], [CreatedTime]) VALUES (2, 1, 2, CAST(N'2022-06-20T17:29:13.507' AS DateTime))
INSERT [dbo].[CommentLike] ([CommentLikeID], [CommentID], [MusicianID], [CreatedTime]) VALUES (3, 1, 3, CAST(N'2022-06-20T17:29:13.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[CommentLike] OFF
GO
SET IDENTITY_INSERT [dbo].[Connection] ON 

INSERT [dbo].[Connection] ([ConnectionID], [InitiatorID], [FollowerID], [CreatedTime], [Connected]) VALUES (1, 1, 2, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Connection] ([ConnectionID], [InitiatorID], [FollowerID], [CreatedTime], [Connected]) VALUES (2, 1, 3, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Connection] ([ConnectionID], [InitiatorID], [FollowerID], [CreatedTime], [Connected]) VALUES (3, 1, 4, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Connection] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversation] ON 

INSERT [dbo].[Conversation] ([ConversationID], [Type], [CreatedTime]) VALUES (1, N'private', CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Conversation] ([ConversationID], [Type], [CreatedTime]) VALUES (2, N'private', CAST(N'2022-02-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Conversation] OFF
GO
SET IDENTITY_INSERT [dbo].[ConversationMembers] ON 

INSERT [dbo].[ConversationMembers] ([ConversationMembersID], [ConversationID], [MusicianID], [CreatedTime]) VALUES (1, 1, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[ConversationMembers] ([ConversationMembersID], [ConversationID], [MusicianID], [CreatedTime]) VALUES (2, 1, 2, CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[ConversationMembers] ([ConversationMembersID], [ConversationID], [MusicianID], [CreatedTime]) VALUES (3, 2, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConversationMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageID], [ConversationID], [CreatedTime], [SenderID], [Text]) VALUES (1, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 1, N'Hi, I am Nancy')
INSERT [dbo].[Message] ([MessageID], [ConversationID], [CreatedTime], [SenderID], [Text]) VALUES (2, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 1, N'How are you')
INSERT [dbo].[Message] ([MessageID], [ConversationID], [CreatedTime], [SenderID], [Text]) VALUES (3, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime), 2, N'Hi, Nancy I am steve')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Musician] ON 

INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Email], [Instrument], [Sex], [Address1], [Address2], [City], [StateCode], [ZipCode], [AccountID], [AvaterFilename]) VALUES (1, N'Davolio', N'Nancy', CAST(N'1968-12-08' AS Date), N'206-555-9857', N'dnacy@test.com', N'Drum', N'Female', N'507 - 20th Ave.', NULL, N'Seattle', N'WA', N'98122', 1, NULL)
INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Email], [Instrument], [Sex], [Address1], [Address2], [City], [StateCode], [ZipCode], [AccountID], [AvaterFilename]) VALUES (2, N'Fuller', N'Andrew', CAST(N'1952-02-19' AS Date), N'206-555-9482', N'fandrew@test.com', N'Piano', N'Male', N'908 W. Capital Way', N'by Zip way', N'Tacoma', N'WA', N'98401', 2, NULL)
INSERT [dbo].[Musician] ([MusicianID], [Fname], [Lname], [DateOfBirth], [Phone], [Email], [Instrument], [Sex], [Address1], [Address2], [City], [StateCode], [ZipCode], [AccountID], [AvaterFilename]) VALUES (3, N'Leverling', N'Janet', CAST(N'1963-08-30' AS Date), N'206-555-3412', N'ljanet@test.com', N'Bass Guitar', N'Female', N'722 Moss Bay Blvd.', NULL, N'Kirkland', N'WA', N'98033', 3, NULL)
SET IDENTITY_INSERT [dbo].[Musician] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostID], [CreatedTime], [MusicianID], [Content]) VALUES (1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, N'Welcome everyone to Build-a-band')
INSERT [dbo].[Post] ([PostID], [CreatedTime], [MusicianID], [Content]) VALUES (2, CAST(N'2022-05-21T00:00:00.000' AS DateTime), 2, N'I think FAR OUT album by police  is a need to listen to')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostLike] ON 

INSERT [dbo].[PostLike] ([PostLikeID], [PostID], [MusicianID], [CreatedTime]) VALUES (1, 1, 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[PostLike] ([PostLikeID], [PostID], [MusicianID], [CreatedTime]) VALUES (2, 1, 2, CAST(N'2022-05-21T00:00:00.000' AS DateTime))
INSERT [dbo].[PostLike] ([PostLikeID], [PostID], [MusicianID], [CreatedTime]) VALUES (3, 1, 3, CAST(N'2022-05-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PostLike] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (1, N'Rolling Stone', 2, CAST(N'2022-02-08T00:00:00.000' AS DateTime), CAST(N'2022-04-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (2, N'Coming Up', 1, CAST(N'2022-04-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Project] ([ProjectID], [Name], [OwnerID], [StartDate], [EndDate]) VALUES (3, N'Code A little', 1, CAST(N'2022-01-08T00:00:00.000' AS DateTime), CAST(N'2022-06-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (1, 1, CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (1, 2, CAST(N'2022-02-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Project_Workon] ([ProjectID], [MusicianID], [JoinedDate]) VALUES (2, 1, CAST(N'2022-04-18T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Accounts_Username]    Script Date: 30/06/2022 1:06:17 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UK_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AK_CommentLike]    Script Date: 30/06/2022 1:06:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_CommentLike] ON [dbo].[CommentLike]
(
	[CommentID] ASC,
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Connection_InitiatorID_FollowerID]    Script Date: 30/06/2022 1:06:17 AM ******/
ALTER TABLE [dbo].[Connection] ADD  CONSTRAINT [UK_Connection_InitiatorID_FollowerID] UNIQUE NONCLUSTERED 
(
	[InitiatorID] ASC,
	[FollowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_ConversationID_MusicianID]    Script Date: 30/06/2022 1:06:17 AM ******/
ALTER TABLE [dbo].[ConversationMembers] ADD  CONSTRAINT [UK_ConversationID_MusicianID] UNIQUE NONCLUSTERED 
(
	[ConversationID] ASC,
	[MusicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audio]  WITH CHECK ADD  CONSTRAINT [FK_Audio_Musician] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Audio] CHECK CONSTRAINT [FK_Audio_Musician]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Musician]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_Accounts] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_Accounts]
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_Comment]
GO
ALTER TABLE [dbo].[Connection]  WITH CHECK ADD  CONSTRAINT [FK_Connection_Musician_FollowerID] FOREIGN KEY([FollowerID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Connection] CHECK CONSTRAINT [FK_Connection_Musician_FollowerID]
GO
ALTER TABLE [dbo].[Connection]  WITH CHECK ADD  CONSTRAINT [FK_Connection_Musician_InitiatorID] FOREIGN KEY([InitiatorID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Connection] CHECK CONSTRAINT [FK_Connection_Musician_InitiatorID]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Conversation] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversation] ([ConversationID])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Conversation]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Musician]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Conversation] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversation] ([ConversationID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Conversation]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Muscian_SenderID] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Muscian_SenderID]
GO
ALTER TABLE [dbo].[Musician]  WITH CHECK ADD  CONSTRAINT [FK_Musician_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Musician] CHECK CONSTRAINT [FK_Musician_Accounts]
GO
ALTER TABLE [dbo].[Musician]  WITH CHECK ADD  CONSTRAINT [FK_Musician_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Musician] CHECK CONSTRAINT [FK_Musician_States]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Musician]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_Accounts] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_Accounts]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_PostLike] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_PostLike]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Musician] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Musician]
GO
ALTER TABLE [dbo].[Project_Workon]  WITH CHECK ADD  CONSTRAINT [FK_Project_Workon_Musician] FOREIGN KEY([MusicianID])
REFERENCES [dbo].[Musician] ([MusicianID])
GO
ALTER TABLE [dbo].[Project_Workon] CHECK CONSTRAINT [FK_Project_Workon_Musician]
GO
ALTER TABLE [dbo].[Project_Workon]  WITH CHECK ADD  CONSTRAINT [FK_Project_Workon_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[Project_Workon] CHECK CONSTRAINT [FK_Project_Workon_Project]
GO
/****** Object:  StoredProcedure [dbo].[createUser]    Script Date: 30/06/2022 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[createUser] 
(
	@Username varchar(50),
	@Password varchar(50),
	@Fname varchar(50),
	@Lname varchar(50),
	@DateOfBirth date,
	@Phone varchar(50),
	@Email varchar(200),
	@Instrument varchar(500),
	@Sex varchar(10),
	@Address1 varchar(50),
	@Address2 varchar(50),
	@City varchar(20),
	@StateCode char(2),
	@ZipCode varchar(20),
	@AvaterFilename varchar(200)
)

AS

BEGIN
INSERT INTO Accounts
VALUES(@Username, @Password, 1, 0)


INSERT INTO Musician
VALUES(@Fname, @Lname, @DateOfBirth, @Phone, @Email, @Instrument, @Sex,
       @Address1, @Address2, @City, @StateCode, @Zipcode,  @@IDENTITY, 
       @AvaterFilename)
END
GO
USE [master]
GO
