.message{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(235, 224, 240);
    color: black;
}

.messageBottom{
    font-size: 12px;
    color: black;
  
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: lightblue;
    color: black;
}

